.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#button1 {
    background-color: #4CAF50;
}

#button2 {
    background-color: #ed0d14;
   
}
#button1:hover{
    background-color: #2d5d2e;
    
}
#button2:hover{
    background-color: #dd3c41;
    
    
}

hr {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(127, 173, 225);
    margin: 5px;
}

.dropbtn {
    background-color: rgb(127, 173, 225);
    color: black;
    padding: 10px;
    font-size: 20px;
}

.dropdown {
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}



.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(127, 173, 225);
}
.dropdown-content {
    position: absolute;
    background-color: rgb(127, 173, 225);
    min-width: 200px;
    display: none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(40, 202, 31);
}
.menu {
    display: flex;
    background-color: rgb(159, 191, 227);
    justify-content: space-evenly;
    text-decoration: none;
    padding: 60px;
    font-size: 25px;
}
.menu a{
    text-decoration: none;
    color: black;

}
.menu a:hover{
    text-decoration: underline;  
}

.button-menu {
    display: flex;
    justify-content: space-evenly;

}
.istanbulhaber{
    display: flex;
    justify-content: center;
    margin: 3px;
}

#up-menu {
    display: flex;
    justify-content: space-between;
}



